<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> MY APP</title>
</head>
<body>
	<form action="/RunningAccount/" method="POST">
				<button type="submit">進入商品資料庫</button>
	</form>
	<form action="/WorkHours/Check/" method="POST">
				<button type="submit">進入人事資料庫</button>
	</form>
	<form action="/WorkHours/Show/" method="POST">
				<button type="submit">顯示當月薪資</button>
	</form>
	<form action="/update/Salary/" method="POST">
				<button type="submit">計算當月薪資</button>
	</form>
	<form action="/ProfitCount/" method="POST">
				<button type="submit">顯示當月盈餘</button>
	</form>

</body>
</html>